/*Estilos Globales*/
body{
    margin: 0;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: 100;
  }

/*Header*/
header{
    height: 15vh;
    width: 100%;
    background: #202020;
    color: white;
}
header > div{
    height: 49%;
    border-top: solid #393939 1px;
}
header > div:first-child{
    display: flex;
    justify-content: space-around;
    & > div:first-child{
        text-transform: uppercase;
        padding: 0 25px;
        height: 100%;
        border-width: 0 1px;
        border-color: #393939;
        border-style: solif;
        & span{
            position: relative;
            top: 2.75vh
        }
    }
}& > div:last-child(3){
    display: flex;
    align-items: center;
    padding: 25px;
    border-width: 0 1px;
    border-color: #393939;
    border-style: solid;
    & > div{
        height: 100%;
    }
    & > div:first-of-type{
        display: flex;
        align-items: center;
        padding: 0 15px 0 0;
        & img{
            height: 4vh;
        }
        & > div{
            & p{
                margin: 0;
            }
            & span{
                font-size: 12px;
                padding-left: 20px;
            } 
        }
    }
    & > div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0  15px;
        border-left: #393939 solid 1px;
        height: 100%;
        height: 7.5vh;
    }
} 
header > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    & ul{
        display: flex;
        & li{
            padding:  15px;
            list-style: none;
            &:hover{
                border-bottom: 3px solid red;
                cursor: pointer;
            }
        }
    }
}

/*MAIN*/
/*Seccion del Banner*/
#banner{
    height: 75vh;
    background-image: url("https://cdn.marvel.com/content/1x/newcom_com_mas_dsk_01_15.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(40%);
    & div{
        height: 100%;
        width: 100%;
    }
    & div{
        position: relative;
        top: 40%;
        left: 5%;
        & h2{
            margin-top: 0;
        }
    }
}